<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="title" content="ipost resume">
    <meta name="description" content="Isaac Post's resume">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ipost resume</title>
    <style>
#page {
  border: 1px solid black;
  font-family: sans-serif;
}
.title {
  font-size: 130%;
}
.employer {
  font-size: 120%;
}
    </style>
  </head>
  <body>
    <div id="page">

      <div id="contact">
        <div id="name"><%= @contact[:name] %></div>
        <div id="email"><%= @contact[:email] %></div>
        <div id="phone"><%= @contact[:phone] %></div>
        <div id="github"><a href="<%= @contact[:github] %>"><%= @contact[:github] %></a></div>
        <div id="website"><a href="<%= @contact[:website] %>"><%= @contact[:website] %></a></div>
      </div>

      <div id="experiences">
      <% @experience.each do |e| %>
        <div class="experience">
          <div class="employer">
            <%= e[:employer] %>
          </div>
        <% e[:positions].each do |t| %>
          <div class="position">
            <div class="title">
              <%= t[:title] %>
            </div>
            <div class="tenure">
              <%= t[:start_date] %> &mdash; <%= t[:end_date] %>
            </div>
          </div>
        <% end %>
          <div class="description">
            <ul>
            <% e[:description].split("\n").each do |line| %>
              <li class="description-line"><%= line %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      </div>

      <div id="skills">
      <% @skills.each do |s| %>
        <div class="skill"><%= s %></div>
      <% end %>
      </div>

      <div id="projects">
      <% @projects.each do |p| %>
        <div class="project">
          <div class="name"><%= p[:name] %></div>
          <ul>
          <% p[:description].split("\n").each do |line| %>
            <li class="description-line"><%= line %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      </div>

    </div>
  </body>
</html>
